[user]
	name = Clément Nussbaumer
	signingkey = A99C6A4E3C856DA9
{{- if hasKey . "email" }}
	email = {{ .email }}
{{- else }}
	email = clement@n8r.ch
{{- end }}
[commit]
	gpgsign = true
[pull]
	rebase = false
	twohead = ort
[init]
	defaultBranch = main

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[diff]
    colorMoved = default

[delta]
    features = decorations
    light = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

{{- if hasKey . "email" }} ## work environment
[url "https://github.com/"]
        insteadOf = git@github.com:
[credential "https://github.com"]
	username = clementnuss
[push]
	autoSetupRemote = true
[credential]
	helper = cache --timeout=86400
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

{{- end -}}
