#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# tap "homebrew/cask-fonts"
brew "fish"
brew "starship"
brew "neovim"
brew "git"
brew "fzf"
brew "bat"
brew "fd"
brew "kubectl"
brew "krew"
brew "yq"
brew "exa"
brew "git-delta"
brew "dust"
brew "duf"
brew "tmux"
brew "ripgrep"
brew "sshuttle"
# cask "font-hack-nerd-font"
# cask "font-iosevka"
brew "lazygit"
EOF

