#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "atuin"
brew "bash" # tmux/extrakto needs a recent bash
brew "bat"
brew "coreutils"
brew "duf"
brew "dust"
brew "entr"
brew "fd"
brew "fx"
brew "fzf"
brew "git"
brew "git-delta"
brew "go"
brew "k9s"
brew "krew"
brew "kubectl"
brew "kubesess"
brew "lazydocker"
brew "lazygit"
brew "neovim"
brew "page"
brew "ripgrep"
brew "sops"
tap "sst/tap"
brew "sst/tap/opencode"
brew "starship"
brew "tmux"
brew "yazi"
brew "yq"
brew "zoxide"
{{- if not (hasKey . "email") }}
cask "wezterm"
cask "rectangle"
cask "jordanbaird-ice"
{{- end }}
EOF

