#! /bin/bash

go install github.com/cheat/cheat/cmd/cheat@latest

cheat_dir="{{ .chezmoi.homeDir }}/.config/cheat/cheatsheets"

if [[ ! -d $cheat_dir ]]
then
  mkdir -p $cheat_dir/community
  mkdir -p $cheat_dir/personal
fi

cd $cheat_dir/community

if [[ -d ".git"  ]]
then
  git pull
else
  git clone https://github.com/cheat/cheatsheets.git ./
fi
