#!/bin/bash

nix-env -iA \
    nixpkgs.fish \
    nixpkgs.starship \
    nixpkgs.neovim \
    nixpkgs.git \
    nixpkgs.fzf \
    nixpkgs.bat \
    nixpkgs.fd \
    nixpkgs.kubectl \
    nixpkgs.krew \
    nixpkgs.yq \
    nixpkgs.exa \
    nixpkgs.delta \
    nixpkgs.du-dust \
    nixpkgs.duf \
    nixpkgs.sshuttle \
    nixpkgs.tmux

