
function fish_hybrid_key_bindings --description \
"Vi-style bindings that inherit emacs-style bindings in all modes"
    for mode in default insert visual
        fish_default_key_bindings -M $mode
    end
    fish_vi_key_bindings --no-erase
end
set -g fish_key_bindings fish_hybrid_key_bindings

set -gx K9SCONFIG ~/.config/k9s/
set -gx LG_CONFIG_FILE ~/.config/lazygit/config.yml

if test -e  /nix/var/nix/profiles/default/etc/profile.d//nix-daemon.sh
    bass source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
end

# Krew
if test -d ~/.krew/bin
    fish_add_path ~/.krew/bin
end

# Rust
if test -d ~/.cargo/bin
    fish_add_path ~/.cargo/bin
end

# node - npm
if test -d ~/node_modules/.bin
    fish_add_path ~/node_modules/.bin
end

if test -d ~/go
    set -gx GOPATH $HOME/go
    fish_add_path $GOPATH/bin
end

starship init fish | source

set -gx EDITOR nvim
set -gx COLORTERM truecolor
